<div>
  <h1 class="text-center">Angular Basics Reference Links</h1>
  <ul>
    <ol>
      1. Angular CLI - https://angular.io/cli#installing-angular-cli
    </ol>
    <ol>
      2. Component - https://angular.io/api/core/Component#description
    </ol>
    <ol>
      3. Directive - https://angular.io/api/core/Directive#directive
    </ol>
    <ol>
      4. Pipe - https://angular.io/api/core/Pipe#pipe
    </ol>
    <ol>
      5. Dependency Injection with Services -
      https://angular.io/guide/dependency-injection#dependency-injection-in-angular
    </ol>
    <ol>
      6. Modules - https://angular.io/guide/architecture-modules
    </ol>
    <ol>
      7. Sharing Modules -
      https://angular.io/guide/sharing-ngmodules#sharing-modules
    </ol>
    <ol>
      8. Routing - https://angular.io/guide/routing-overview#angular-routing
    </ol>
  </ul>
</div>
